.header {
  padding: 5.5rem 0;

  @include breakpoint-down($lg) {
    padding: 3.2rem 0 9.6rem;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.6rem 2.6rem;
  min-height: 13.2rem;
  border-radius: 1.6rem;
  background-color: $grey;
  color: $light;
  margin: 0;
  
  font-family: Inter;
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 1;

  @include breakpoint-down($lg) {
    font-size: 8rem;
    padding: 1.6rem;
    text-align: center;
  }
}