* {
  box-sizing: border-box;
}

html {
  font-size: min(10px, calc(100vw / 375 * 10));
  
  @include breakpoint-up($lg) {
    font-size: 10px
  }
}

body {
  background-color: $dark;
  color: $dark;
  margin: 0;

  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.25;
}
