.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 0 5rem;
}

.inner {
  width: 100%;
  padding: 1.2rem;
  border-radius: 1.6rem;
  max-width: 70.8rem;
  background-color: $ui;
}

.title {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.empty {
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

.item {
  display: grid;
  grid-template-columns: calc(60% - 1.6rem) 15% calc(25% - 1.6rem);
  width: 100%;
  gap: 1.6rem;
  overflow: hidden;

  & > :first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  width: 100%;
  overflow: hidden;
}

.total {
  display: grid;
  grid-template-columns: 75% calc(25% - 1.6rem);
  gap: 1.6rem;
  font-weight: 500;
  margin: 0 0 2rem;
}

.form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 26.8rem;
  gap: 1.6rem;
}

.input, .submit {
  padding: 1.2rem 1.6rem;
  border: none;
  height: 6.8rem;
  color: $light;
  border-radius: 1.6rem;
  background-color: $dark;

  font-family:Inter, sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.25;
}

.input {
  width: 100%;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  transition: opacity .3s ease-in-out;

  &:disabled {
    opacity: 0.7;
  }
}