.container {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: height, opacity, transform;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    background: linear-gradient(#22222200, #222222);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20rem 0 5rem;

  @include breakpoint-down($lg) {
    padding: 23.2rem 0 4rem;  
  }
}

.inner {
  width: 100%;
  padding: 1.2rem;
  border-radius: 1.6rem;
  max-width: 70.8rem;
  background-color: $ui;

  @include breakpoint-down($lg) {
    border-radius: 3.2rem;
    padding: 3.6rem 2.8rem 2.8rem;
  }
}

.title {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.25;
  margin: 0 0 2rem;

  @include breakpoint-down($lg) {
    margin-bottom: 4rem;
    font-size: 7.2rem;
    text-align: center;
  }
}

.empty {
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;

  @include breakpoint-down($lg) {
    margin-bottom: 2rem;
  }
}

.item {
  display: grid;
  grid-template-columns: calc(60% - 1.6rem) 15% calc(25% - 1.6rem);
  width: 100%;
  gap: 1.6rem;
  overflow: hidden;

  @include breakpoint-down($lg) {
    grid-template-columns: calc(45% - 1.6rem) 20% calc(35% - 1.6rem);
  }

  & > :first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  width: 100%;
  overflow: hidden;
}

.total {
  display: grid;
  grid-template-columns: 75% calc(25% - 1.6rem);
  gap: 1.6rem;
  font-weight: 500;
  margin: 0 0 2rem;

  @include breakpoint-down($lg) {
    grid-template-columns: 65% calc(35% - 1.6rem);
  }
}
